/* line 9, ../../../../../../../../../../app/assets/stylesheets/goldencobra/active_admin.css.scss */
span.startpage {
  font-weight: bold;
  color: red;
  display: inline-block;
}

/* line 15, ../../../../../../../../../../app/assets/stylesheets/goldencobra/active_admin.css.scss */
div#goldencobra_image_maganger {
  position: absolute;
  right: 330px;
  top: 200px;
  height: 200px;
  width: 350px;
  background-color: black;
  opacity: 0.8;
}
