<li>
	<div class="item">
		<% if item.children.count > 0 %>
			<div class="folder"></div>
		<% else %>
			<div class="last_folder"></div>
		<% end %>

		<% if Goldencobra::Permission.restricted?(item) %>
			<div class="secured"></div>
		<% end %>
		<div class="title"><%= link_to item.send(link_name), eval("admin_#{url_path.pluralize}_path(:q => {:parent_ids_in => item.id})")   %></div>
		<div class="options">
			<%= link_to "new", eval("new_admin_#{url_path}_path(:parent => item)"), :class => "new_link"  %>
			<%= link_to "edit", eval("edit_admin_#{url_path}_path(item)"), :class => "edit_link" %>
		</div>
	</div>
	<% if item.children %>
		<ul>
			<% item.children.order(order_by.to_sym).each do |art|%>
				<%= render :partial => "/goldencobra/admin/shared/item", :object => art, :locals => {:link_name => link_name, :url_path => url_path, :order_by => order_by } %>
			<% end %>
		</ul>
	<% end %>
</li>

