<div id="overviewTree"></div>

<%
  root_id ||= nil
  root_option = root_id.present? ? "?root_id=#{root_id}" : nil
  url ||= "/admin/articles/load_overviewtree_as_json#{root_option}"
  class_name ||= 'articles'
%>

<script type="text/javascript">
  React.render(
      React.createElement(ListOfArticlesBox, { url: '<%= url %>', class_name: '<%= class_name %>' }),
      document.getElementById('overviewTree')
  );
</script>
