<div id="overviewTree"></div>

<script type="text/javascript">
  React.render(
      React.createElement(ListOfArticlesBox, {url: '/admin/articles/load_overviewtree_as_json'}),
      document.getElementById('overviewTree')
  );
</script>
