// Active Admin CSS Styles
//@import "active_admin/mixins";
//@import "active_admin/base";

@import "compass";
@import "jquery.Jcrop.min";

// To customize the Active Admin interfaces, add your
// styles here:
$background-color: black;

body.active_admin #title_bar .action_items a.undo {

}

#main_content {
	.char_count {
		position: relative;
		float: right;
		margin-top: -23px;
		margin-right: 40px;
		color: grey;
	}
}

span.startpage {
	font-weight: bold;
	color: red;
	display: inline-block;
}

div#goldencobra_image_maganger {
	position: fixed;
	right: 330px;
	top: 200px;
	height: 200px;
	width: 350px;
	background-color: $background-color;
	opacity: 0.8;
	box-shadow: 10px 10px 10px grey;
	
  ul {
    list-style: none;
    padding: 0;

    li {
      float: left;
      margin: 3px;
      
      img {
        cursor: move;
      }
    }
  }

  .header {
    background-color: white;
    width: 100%;
    height: 16px;
    cursor: move;

    .close {
      margin: 1px;
      float: right;
      height: 14px;
      width: 14px;
      background: url("/assets/goldencobra/close.png") no-repeat transparent;
      cursor: pointer;
    }
  }
}

#header ul#tabs > li, #header #utility_nav {
	font-weight: bold;
}

#header ul#tabs > li.has_nested.current > a, #header ul#tabs > li.has_nested > a {
  padding-right: 35px;
}

#header ul#tabs.header-item {
  left: 110px;
}

div#titlebar_left h2#page_title {
  margin-left: 117px;
}

#header {
	padding: 9px 30px 9px 150px;

  h1 {
    width: 100px;
    height: 80px;
    background: url("/assets/goldencobra/cobra.png") no-repeat scroll center top / auto auto rgba(0, 0, 0, 0);
    text-indent: -9999px;
    position: absolute;
    left: 30px;
    z-index: 5000;
    padding-top: 0 !important;
    
    a { 
      display: block;
      width: 100%;
    }
  }
}

#title_bar {
	padding: 10px 30px 10px 158px;
}

body.active_admin .breadcrumb {
  margin-left: 117px;
}

div#main_content h3 {
  margin-left: 10px;
}

a.button {
  margin-left: 10px;
}

legend .foldable_icon_wrapper {
	.foldable_icon {
		background: url("/assets/goldencobra/arrow.png");
		width: 20px;
		height: 20px;
		float: right;
		margin: 5px;
		cursor: pointer;
		@include rotate(90deg);
		@include transition(all 500ms);
		
    &.open {
			@include rotate(0deg);
		}
	}
}

h3 .foldable_icon_wrapper {
	.foldable_icon {
		background: url("/assets/goldencobra/arrow.png");
		display: inline-block;
		width: 20px;
		height: 20px;
		float: right;
		cursor: pointer;
		@include rotate(90deg);
		@include transition(all 500ms);
		
    &.open{
			@include rotate(0deg);
		}
	}
}

.settings_group_title .foldable_icon_wrapper {
  .foldable_icon {
    background: url("/assets/goldencobra/arrow.png");
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
    @include rotate(0deg);
    @include transition(all 500ms);
    
    &.open{
      @include rotate(90deg);
    }
  }
}

.sidebar_section > div.panel_contents {
	padding-left: 0px;
	padding-right: 0px;
}

.sidebar_section.warning > div.panel_contents {
	//background-color: lightred;
	@include background(linear-gradient(top, #ffffff 0%, red 100%));
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}

body.active_admin .sidebar_section > div div.overview-sidebar {
	margin: 0 0 0 -30px;
	padding: 0 0 0 0px;

	ul {
		list-style: none;
		margin: 0 0 0 0;
		padding: 0 0 0 15px;

		li {
			margin: 0 0 0 0;
			padding: 0 0 0 0;

			div.item {
				width: 90%;
				padding: 0 0 0 8%;
				line-height: 14px;
				border-bottom: 1px dotted transparent;

				&:hover {
					border-bottom: 1px dotted grey;
				}

				div.folder {
					background: url("/assets/goldencobra/tree.png") no-repeat -6px;
					height: 12px;
					width: 12px;
					display: inline-block;
					cursor: pointer;
				}

				div.last_folder {
					background: url("/assets/goldencobra/tree.png") no-repeat -9px;
					height: 12px;
					width: 12px;
					display: inline-block;
				}

        div.secured {
          width: 9px;
          height: 9px;
          background: url("/assets/goldencobra/icons/16/locked.png");
          @include background-size(9px);
          display: inline-block;
        }

        div.title {
          display: inline-block;
         
          ul {
            display: none;
          }

          a {
            text-decoration: none;
            cursor: pointer;
          }

          overflow: hidden;
          width: 145px;
          height: 16px;
          line-height: 16px;
        }

        div.options {
          display: inline-block;
          float: right;

           a {
            display: inline-block;
            text-indent: -9999px;
          }

          a.new_link {
            width: 14px;
            height: 14px;
            background: url("/assets/goldencobra/icons/16/plus.png");
            @include background-size(14px);
          }

          a.edit_link {
            width: 14px;
            height: 14px;
            background: url("/assets/goldencobra/icons/16/compose-3.png");
            @include background-size(14px);
          }
        }
      }
    }
  }
}

textarea.metadescription_hint {
  background-color: transparent;
  border: 0px;
  height: 185px;
}

#article_hint_label_input {
  margin-top: 15px;
}
#metadescription-tinymce-body{
 background: #f4f4f4;
 border: 0px;
 color:#666;
}

#metadescription-tinymce_tbl {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  height: 200px;
  width: 600px;
}

#metadescription-tinymce_ifr {
  height: 200px;
  width: 600px;
}

textarea#article_summary,
textarea#article_teaser {
  resize: none;
}

.per_page_links a {
	color: #5c6469;
	text-decoration: none;
	font-weight: bold;
}

.index_as_table {
	a {
		&.online {
			color: green;
			text-decoration: none;
		}

		&.offline {
			color: red;
			text-decoration: none;
		}
	}
}

h3.goldencobra_article_article_type {
	text-align: center;
}

table.importer_assoziations {
	td.nested_model_header {
		font-weight: bold;
	}

	tr.model_group {
		display: none;
	}

	span.button {
		cursor: pointer;
		border: 1px solid gray;
		padding: 5px;
		background-color: lightgray;
	}
}

form li.hidden.input {
	display: none;
}

body.active_admin .status {
	background: none;
	color: #000;
}

body.active_admin .edit {
	background: url("/assets/goldencobra/icons/32/compose-3.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin .secured {
  width: 20px;
  height: 20px;
  text-indent: -99999px;
  background: url("/assets/goldencobra/icons/32/locked.png");
  @include background-size(20px);
  display: inline-block;
}

body.active_admin tbody .online {
  background: url("/assets/goldencobra/icons/32/play.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin tbody .list {
  background: url("/assets/goldencobra/icons/32/list-2.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin tbody .create {
  background: url("/assets/goldencobra/icons/32/plus.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin tbody .offline {
  background: url("/assets/goldencobra/icons/32/power.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin .view {
	background: url("/assets/goldencobra/icons/32/eye.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin .delete {
	background: url("/assets/goldencobra/icons/32/delete.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin .new_subarticle {
	background: url("/assets/goldencobra/icons/32/folder-add.png") no-repeat center center transparent;
  @include background-size(20px);
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

body.active_admin table.index_table th:last-child {
	width: 130px;
	min-width: 130px;
}

div.has_many.vita_steps {
  li.input {
    fieldset.inputs.has_many_fields {
      margin: 0px;
      padding: 0px;
    }
  }
}

body.active_admin form input[type="submit"] {
  display: inline-block;
  margin-right: 3px;
  padding: 7px 16px 6px;
  cursor: pointer;

  background-color: #7FBF4D;
  background: -moz-linear-gradient(center top , #7FBF4D, #63A62F);
  background: -webkit-gradient(linear, left top, left bottom, from(#7FBF4D), to(#63A62F));

  border-color: #63A62F #63A62F #5B992B;
  border-image: none;
  border-radius: 200px 200px 200px 200px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 #96CA6D inset;

  color: #FFFFFF;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 12px;
  text-shadow: 0 -1px 0 #4C9021;
  text-decoration: none;
}

body.active_admin form input[type="submit"]:hover:not(.disabled) {
  background-color: #76B347;
  background: -moz-linear-gradient(center top , #76B347, #5E9E2E);
  background: -webkit-gradient(linear, left top, left bottom, from(#76B347), to(#5E9E2E));
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 #8DBF67 inset;
}

li.response_200 {
	color: green;
	margin: 0 0 5px -10px !important;
	line-height: 12px;
	font-size: 10px !important;
}

li.response_404 {
	color: red;
	margin: 0 0 5px -10px !important;
	line-height: 12px;
	font-size: 10px !important;
}

ul.link_checker_ul {
	div.link_checker_label {
		cursor: pointer;
	}

	ul.link_checker_sources {
		display: none;

		.link_checker_position {
			background-color: lightgrey;
			border-radius: 5px;
			display: inline-block;
			padding: 2px;
			margin: 2px;
		}
	}
}

form > fieldset > ol > .has_many {
  background-color: grey;
}

form > fieldset > ol > .has_many > h3 {
  color: white;
}

body.active_admin form > fieldset{
  padding: 0px;
}

body.active_admin form fieldset > ol > li.boolean {
  height: 2.2em;
}

body.active_admin form fieldset > ol > li p.inline-errors {
  text-transform: none;
}

#goldencobra_settings_wrapper{

  .settings_category{
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
    width:400px;
    float:left;

    .settings_level{
      overflow:hidden;
      clear:both;

      .settings_group_title{
        padding:5px;
        font-weight:bold;
        font-size:1.1em;
        cursor:pointer;
      }

      .settings_sub_group{
        display:none;
      }

      .setting_key_value{
        color: rgb(50, 53, 55);
        background-color: lightgrey;
        overflow:hidden;
        margin-left:15px;
        clear:both;

        .setting_title{
          float:left;
          width:60%;
        }

        .setting_value{
          width:40%;
          float:left;
        }
      }
    }
  }
}