/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

.navigtion_link_imgage_wrapper{
	display:none;
}
.navigtion_link_description{
	display:none;
}
.navigtion_link_description_title{
	display:none;
}
.navigtion_link_call_to_action_name{
	display:none;
}

.hidden {
  display: none;
}

#admin_article_manager{
  padding: 3px;
  background-color: #636e2a;
  border-bottom: 1px solid black;
  position:static;
  width:100%;
  z-index: 99999;
  color:white;
  font-size: 11px;
  box-shadow: 2px 2px 5px #636e2a;
  height:20px;
  padding-top:3px;
}

#admin_article_manager .left a {
  float:left;
}

#admin_article_manager .center a {
  float:left;
  margin-top:5px;
}

#admin_article_manager .right a {
  float:right;
  border-right: 1px solid white;
  margin-top:5px;
}

#admin_article_manager a {
  color: white;
  text-decoration: none;
  padding-right:3px;
  padding-left:3px;
}

#admin_article_manager a:hover {
  text-decoration: underline;
}

body{
  margin:0px;
}