.chosen-container-active .chosen-choices { border-color: #29c172; }

.chosen-container .chosen-results li.highlighted {
  background: #E7EBEE;
  color: #29c172;
}

.chosen-container-active .chosen-single { border-color: #29c172; }

.ui-widget-content { color: #555; }

.chosen-container .chosen-results { max-height: 300px; }
