body {
  min-width: 980px;
}

#dashboard_article_search_chosen{
  width:100% !important;
}

#login #user_email_input label,
#login #user_password_input label {
  padding: 8px 3px 7px 0;
}

#active_admin_content { overflow: hidden; }

#main_content .char_count {
  position: relative;
  float: right;
  margin-top: -23px;
  margin-right: 40px;
  color: grey;
}

span.startpage {
  font-weight: bold;
  color: red;
  display: inline-block;
}

div#goldencobra_image_maganger {
  position: fixed;
  right: 330px;
  top: 200px;
  height: 200px;
  width: 350px;
  background-color: #000;
  opacity: 0.8;
  box-shadow: 10px 10px 10px grey;

  ul {
    list-style: none;
    padding: 0;

    li {
      float: left;
      margin: 3px;

      img {
        cursor: move;
      }
    }
  }

  .header {
    background-color: white;
    width: 100%;
    height: 16px;
    cursor: move;

    .close {
      margin: 1px;
      float: right;
      height: 14px;
      width: 14px;
      background: url("/assets/goldencobra/close.png") no-repeat transparent;
      cursor: pointer;
    }
  }
}

#title_bar { padding-left: 160px; }

// div#main_content h3 { margin-left: 10px; }
// a.button { margin-left: 10px; }

legend .foldable_icon_wrapper .foldable_icon,
h3 .foldable_icon_wrapper .foldable_icon {
  background: url("/assets/goldencobra/arrow.png") no-repeat;
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
  @include rotate(90deg);
  @include transition(all 500ms);

  &.open {
    @include rotate(0deg);
  }
}

legend .foldable_icon_wrapper .foldable_icon { margin: 5px; }

h3 .foldable_icon_wrapper .foldable_icon {
  display: inline-block;
  position: relative;
  right: -6px;
  top: -2px;
}

.settings_group_title .foldable_icon_wrapper .foldable_icon {
  display: inline-block;
  background: url("/assets/goldencobra/arrow.png") no-repeat;
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
  @include rotate(0deg);
  @include transition(all 500ms);

  &.open {
    @include rotate(90deg);
  }
}

.sidebar_section.warning > div.panel_contents {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  @include background(linear-gradient(top, #ffffff 0%, red 100%));
}

textarea.metadescription_hint {
  background-color: transparent;
  border: 0px;
  height: 185px;
}

#article_hint_label_input { margin-top: 15px; }

#metadescription-tinymce-body{
 background: #f4f4f4;
 border: 0px;
 color:#666;
}

#metadescription-tinymce_tbl {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  height: 200px;
  width: 600px;
}

#metadescription-tinymce_ifr {
  height: 200px;
  width: 600px;
}

textarea#article_summary,
textarea#article_teaser {
  resize: none;
}

.per_page_links a {
  color: #5c6469;
  text-decoration: none;
  font-weight: bold;
}

.index_as_table a {
  &.online {
    color: green;
    text-decoration: none;
  }

  &.offline {
    color: red;
    text-decoration: none;
  }
}

h3.goldencobra_article_article_type { text-align: center; }

table.importer_assoziations {
  td.nested_model_header { font-weight: bold; }
  tr.model_group { display: none; }

  span.button {
    cursor: pointer;
    border: 1px solid gray;
    padding: 5px;
    background-color: lightgray;
  }
}

form li.hidden.input { display: none; }

body.active_admin .status {
  background: none;
  color: #000;
}

body.active_admin .edit {
  background: url("/assets/goldencobra/icons/32/compose-3.png") no-repeat center center transparent;
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin .secured {
  width: 20px;
  height: 20px;
  text-indent: -99999px;
  background: url("/assets/goldencobra/icons/32/locked.png") no-repeat;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin tbody .online {
  background: url("/assets/goldencobra/icons/32/play.png") no-repeat center center transparent;
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin tbody .list {
  background: url("/assets/goldencobra/icons/32/list-2.png") no-repeat center center transparent;
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin tbody .create {
  background: url("/assets/goldencobra/icons/32/plus.png") no-repeat center center transparent;
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin tbody .offline {
  background: url("/assets/goldencobra/icons/32/power.png") no-repeat center center transparent;
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin .view {
  background: url("/assets/goldencobra/icons/32/eye.png") no-repeat center center transparent;
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin .delete {
  background: url("/assets/goldencobra/icons/32/delete.png") no-repeat center center transparent;
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin .new_subarticle {
  background: url("/assets/goldencobra/icons/32/folder-add.png") no-repeat center center transparent;
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @include background-size(20px);
}

body.active_admin table.index_table th:last-child {
  width: 130px;
  min-width: 130px;
}

div.has_many.vita_steps li.input {
  fieldset.inputs.has_many_fields {
    margin: 0px;
    padding: 0px;
  }
}

body.active_admin form input[type="submit"] {
  display: inline-block;
  margin-right: 3px;
  padding: 7px 16px 6px;
  cursor: pointer;

  background-color: #29c172;
  background: -moz-linear-gradient(center top , #29c172, #219b5c);
  background: -webkit-gradient(linear, left top, left bottom, from(#29c172), to(#219b5c));

  border-color: #63A62F #63A62F #5B992B;
  border-image: none;
  border-radius: 200px 200px 200px 200px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 #96CA6D inset;

  color: #FFFFFF;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 12px;
  text-shadow: 0 -1px 0 #4C9021;
  text-decoration: none;
}

body.active_admin form input[type="submit"]:hover:not(.disabled) {
  background-color: #39d584;
  background: -moz-linear-gradient(center top , #39d584, #219b5c);
  background: -webkit-gradient(linear, left top, left bottom, from(#39d584), to(#219b5c));
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 #8DBF67 inset;
}

li.response_200 {
  color: green;
  margin: 0 0 5px -10px !important;
  line-height: 12px;
  font-size: 10px !important;
}

li.response_404 {
  color: red;
  margin: 0 0 5px -10px !important;
  line-height: 12px;
  font-size: 10px !important;
}

ul.link_checker_ul {
  div.link_checker_label {
    cursor: pointer;
  }

  ul.link_checker_sources {
    display: none;

    .link_checker_position {
      background-color: lightgrey;
      border-radius: 5px;
      display: inline-block;
      padding: 2px;
      margin: 2px;
    }
  }
}

form > fieldset > ol > .has_many { background-color: grey; }
form > fieldset > ol > .has_many > h3 { color: #FFF; }
body.active_admin form > fieldset { padding: 0px; }
body.active_admin form fieldset > ol > li.boolean { height: 2.2em; }
body.active_admin form fieldset > ol > li p.inline-errors { text-transform: none; }
