//TODO styling: http://odyniec.net/articles/turning-lists-into-trees/

#active_admin_content ul.item_tree {
  background: url(vline.png) repeat-y;
  margin: 5px 0;
  padding: 0;

  ul {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    background: url(vline.png) repeat-y;
  }

  li {
    margin: 0;
    padding: 0 12px;
    list-style: none;
    background: url(node.png) no-repeat;

    li { padding-right: 0;}
  }

  li:last-child { background: #fff url(lastnode.png) no-repeat; }

  div.tree_item_options {
    display: none;
    overflow: hidden;
    float: right;
  }

  div.tree_item_options > div {
    display: inline-block;
    padding-bottom: 10px;
  }

  div.tree_item_title {
    display: inline-block;
    font-size: 1.4em
  }

  div.tree_item_value {
    font-weight: bold;
    margin-left: 15px;
  }

  div.tree_item:hover { color: #29c172; }
  div.tree_item:hover > .tree_item_options { display: inline-block; }
}


body.active_admin .sidebar_section > div div.overview-sidebar {
  margin: 0 0 0 -30px;
  padding: 0 0 0 0px;

  ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;

    li {
      margin: 0 0 0 0;
      padding: 0 0 0 0;

      div.item {
        width: 92%;
        padding: 0 0 0 8%;

        div.folder {
          background: url("/assets/goldencobra/tree.png") no-repeat -6px;
          height: 12px;
          width: 12px;
          display: inline-block;
          cursor: pointer;
        }

        div.last_folder {
          background: url("/assets/goldencobra/tree.png") no-repeat -9px;
          height: 12px;
          width: 12px;
          display: inline-block;
        }

        div.secured {
          width: 9px;
          height: 9px;
          background: url("/assets/goldencobra/icons/16/locked.png");
          display: inline-block;
          @include background-size(9px);
        }

        div.title {
          display: inline-block;
          overflow: hidden;
          width: 200px;
          height: 16px;
          line-height: 16px;

          ul { display: none; }

          a {
            text-decoration: none;
            cursor: pointer;
          }
        }

        div.title ~ ul li div.title { width: 175px; }

        div.title ~ ul li div.title ~ ul li div.title {width: 145px;}
        div.title ~ ul li div.title ~ ul li div.title ~ ul li div.title { width: 130px;}

        div.options {
          display: inline-block;
          float: right;

           a {
            display: inline-block;
            text-indent: -9999px;
          }

          a.new_link,
          a.edit_link {
            width: 16px;
            height: 16px;
            @include background-size(14px);
          }

          a.new_link { background: url("/assets/goldencobra/icons/16/plus.png"); }

          a.edit_link {
            background: url("/assets/goldencobra/icons/16/compose-3.png");
            margin-right: 3px;
          }
        }
      }
    }
  }
}
