<h1>
  <%= yield(:article_title) %>
</h1>
<% if yield(:article_summary).present? %>
  <div class="summary">
    <%= yield(:article_summary) %>
  </div>
<% end %>
<% if @article.images.count > 0 %>
  <div class="news-image">
    <%= image_tag(@article.images.first.image.url(:medium), width: "301", :alt => @article.images.first.alt_text || @article.images.first.image_file_name ) %>
  </div>
<% end %>
<div class="article_content">
  <%= yield(:article_content) %>
</div>
