<h1>
  <%= yield(:article_title) %>
</h1>
<% if yield(:article_summary).present? %>
  <div class="summary">
    <%= yield(:article_summary) %>
  </div>
<% end %>
<div class="article_content">
  <%= yield(:article_content) %>
</div>
