<% settings.sort{|a,b| a.children.count <=> b.children.count }.each do |child| %>
  <% if child.children.blank? %>
    <%= render :partial => "/goldencobra/admin/settings/key_value", :object => child %>
  <% else %>
    <div class="settings_level" style="padding-left: <%= child.depth * 10%>px;">
      <div class="settings_group_title foldable">
        <%= child.title.humanize %> 
      </div>
      <div class="settings_sub_group">
        <%= render :partial => "/goldencobra/admin/settings/settings_group", :locals => {:settings => child.children} %>
      </div>
    </div>
  <% end %>
<% end %>