
<%= link_to "Bilder einfügen", "#", :id => "open_goldencobra_image_maganger" %>
<div id="goldencobra_image_maganger" style="display:none">
	<div class="header">
		<div class="close"></div>
	</div>
	<ul>
		<% Goldencobra::Upload.scoped.each do |upload| %>
			<li><%= image_tag upload.image.url(:mini)%></li>
		<% end %>		
	</ul>
</div>