<!-- <h4>Einzelnes Bild einfügen</h4> -->

<%#= link_to "Mediathek öffnen", "#", :id => "open_goldencobra_image_maganger" %>
<!--
<div id="goldencobra_image_maganger" style="display:none">
	<div class="header">
		<div class="close"></div>
	</div>
	<ul>
		<%# Goldencobra::Upload.scoped.each do |upload| %>
			<%# if upload && upload.image && upload.image.url %>
				<li><%#= image_tag upload.image.url(:mini)%></li>
			<%# end %>
		<%# end %>
	</ul>
</div>

<br/><br/>
 -->

<h5>I18n.t('active_admin.articles.views.image_module_sidebar.h5')</h5>
<p>I18n.t('active_admin.articles.views.image_module_sidebar.p')</p>

<%= semantic_form_for ["admin", @article], :html => {:id => "goldencobra_article_image_gallery_tags"} do |f| %>
	<ul>
    <%= select_tag 'article[image_gallery_tags][]', options_for_select(Goldencobra::Upload.scoped.tag_counts_on(:tags).map{|tag| tag.name}, @article.image_gallery_tags.present? ? @article.image_gallery_tags.split(",") : []), :multiple => true, :class => "chzn-select", 'data-placeholder' => 'Tags auswählen' %>
  </ul>

	<% if @article.image_gallery_tags.present? %>
		<p><%= pluralize(Goldencobra::Upload.tagged_with(@article.image_gallery_tags).count, I18n.t('active_admin.articles.views.image_module_sidebar.tag1'), I18n.t('active_admin.articles.views.image_module_sidebar.tag2')) %> ausgewählt</p>
	<% end %>

	<p><br/><%= f.submit I18n.t('active_admin.articles.views.image_module_sidebar.submit') %></p>
<% end %>

