<div class="container">
	<div class="row">
		<div class="footer span9">
			<nav class="footer-nav">
				<h5>Informationen</h5>
				<%= navigation_menu("Footer-Navigation", class: "ul-footer-nav") %>
			</nav>
		</div><!-- end .footer -->
		<aside class="footer-widget span3">

			<!-- *** delete this image when using widget *** -->
			<img src="/assets/logo.gif" alt="ikusei"/>
			<!-- *** *** *** *** *** *** *** *** *** *** ***-->

			<%= render_article_widgets(tagged_with: "footer", default: true) %>
		</aside>
	</div><!-- end .row -->
</div><!-- end .container -->