<div class="slider">
	<div class="container">

		<!-- *** delete this div when using widget *** -->
		<div class="row slider-content">
			<p style="margin: 20% 0 0 53%;"><span class="small">Diese ist</span> <span class="medium">nur ein Blindtext</span></p>
			<p style="margin: 0 0 0 65%;"><span class="small">und sollte dringend</span></p>
			<p style="margin: 0 0 0 55%;"><span class="large">angepasst werden.</span></p>
		</div>
		<!-- *** *** *** *** *** *** *** *** *** *** ***-->

		<%= render_article_widgets(tagged_with: "slider", wrapper: "div", class: "slider-content", default: true) %>
	</div><!-- end .container -->
</div><!-- end .slider -->