<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%# Brand and toggle get grouped for better mobile display %>
    <div class="navbar-header">
      <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
              class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">
        <img src="http://placehold.it/100x40&text=Logo" alt="">
      </a>
    </div>
    <%# Collect the nav links, forms, and other content for toggling %>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
