<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tagline"><%= yield(:article_title) %></h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="article-content top-margin">
        <%= yield(:article_content) %>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="border-bottom">Box #1</h2>
      <img class="img-responsive img-center" src="http://placehold.it/500x300" alt="">
      <h4>Box #1</h4>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="border-bottom">Box #2</h2>
      <img class="img-responsive img-center" src="http://placehold.it/500x300" alt="">
      <h4>Box #2</h4>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="border-bottom">Box #3</h2>
      <img class="img-responsive img-center" src="http://placehold.it/500x300" alt="">
      <h4>Box #3</h4>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</div>

<section class="full-section top-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><%= yield(:article_subtitle) %></h1>
      </div>

      <div class="col-lg-12">
        <h2 class="border-bottom">Boxes more</h2>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive img-center" src="http://placehold.it/600x300" alt="">
        <h4>Box #4</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive img-center" src="http://placehold.it/600x300" alt="">
        <h4>Box #5</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>
</section>
